#html svg{
	#html1{transition: 0.5s}
	#html2{transition: 2s}
	#html3{transition: 2s}
}

#html svg:hover{
	#html1{fill: #E44D26;}
	#html2{fill: #EBEBEB;}
	#html3{fill: #fff;}
}

#css svg{
	#css1{transition: 0.5s}
	#css2{transition: 2s}
	#css3{transition: 2s}
	#css4{transition: 2s}
	#css5{transition: 2s}
}

#css svg:hover{
	#css1{fill: #1572B6;}
	#css2{fill: #fff;}
	#css3{fill: #EBEBEB;}
	#css4{fill: #fff;}
	#css5{fill: #EBEBEB;}
}

#javascript svg{
	#js1{transition: 0.5s}
	#js2{transition: 2s}
}

#javascript svg:hover{
	#js1{fill: #F0DB4F}
	#js2{fill: #323330}
}

#react svg{
	#react1{transition: 0.5s};
}

#react svg:hover{
	#react1{fill: #53c1de}
}

#nodejs svg{
	#node1{transition: 0.5s}
}

#nodejs svg:hover{
	#node1{fill: #83CD29}
}

#postgres svg{
	#sql1{transition: 0.5s}
	#sql2{transition: 0.5s}
	#sql3{transition: 0.5s}
	#sql4{transition: 2s}
	#sql5{transition: 2s}
}

#postgres svg:hover{
	#sql1{fill: #000}
	#sql2{fill: #000}
	#sql3{fill: #336791}
	#sql4{fill: #fff}
	#sql5{fill: #fff}
}

#git svg{
	#git1{transition: 0.5s}
}

#git svg:hover{
	#git1{fill: #F34F29}
}

#github svg{
	#github1{transition: 0.5s}
	#github2{transition: 0.5s}
}

#github svg:hover{
	#github1{fill: #000}
	#github2{fill: #000}
}



/*028c9b*/
