body{
	background: linear-gradient(to right, aqua,grey);
}

.container-fluid{
	display: inline-block;
/*	background: linear-gradient(to right, aqua,grey);
*/	background: transparent;

}
.row{
}
.logo{
	padding: .5em;
}
.navbar-toggler{
	margin: .5em;
}

.navbar-collapse a{
	color: #aaaccc;
	font-weight: bold;	
}