body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, white, grey)
}

.menu{
    transition: .5s;
    width: 30px;
}

.sidenav {
    margin: 2em; 
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-transform: uppercase;
}

.sidenav a {
    padding: 10px 10px 10px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: grey;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px, max-width: 414px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .container {padding-top: 15px;}
  .container {font-size: 18px;}
}

.container{
    display: grid;
    grid-area: 1fr 2fr;
    grid-gap: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}
#brand{
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 15px 2px grey;
    display: grid;
    justify-content: center;
    text-align: center;
    transition: 1s;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px grey;  
}
#brand:hover{
    /*transform: scale(1.01);*/
}

#content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 0px 15px 2px white;
    padding: 20px;
    transition: 1s;
}
#content:hover{
    transform: scale(1.02);
}

#about2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 10px;
    background: white;
    box-shadow: 0px 0px 15px 2px white;
}

img {
    width:  100%;
    height: auto;
}