* {
  margin: 0;
  padding: 0; }

html {
  overflow-y: hidden;
}

body, html {
  margin: 0;
  height: 100%;
  font-family: 'Contrail One', cursive , Serif;
  font-size: 17px;
  line-height: 1.6;
  /*background: linear-gradient(89deg, #1dabba 0%, #028c9b 100%);*/
  background: url("../../img/test.jpg");
  overflow-x: hidden; 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#top  {
  position: fixed;
  bottom: 0;
  right: 0;
  background: transparent;
  width: 30px;
  opacity: 0.5;
  transition: 0.3s;
  margin-right: 20px; }

#top:hover {
  transform: scale(1.1);
  opacity: 0.8; }

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit; }

.svg-nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px 0px 0px 10px;
  border-radius: 30%;
  opacity: 0.7;
  transition: 0.3s;
  z-index: 1 }

.svg-nav:hover {
  transform: scale(1.2);
  border-radius: 100%;
  opacity: 1; }

/*///////////// NAVBAR ///////////////////*/
.navbar {
  background-color: transparent;
  overflow: hidden;
  height: 63px;
  position: fixed;
  background-color: transparent; }

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

.navbar ul {
  margin: 8px 0 0 0;
  list-style: none; }

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1dabba;
  opacity: 0.7;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; }

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #555;
  display: block;
  transition: 0.3s; }

.side-nav a:hover {
  color: #fff;
  transform: scale(1.1); }

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px; }

/*///////////// SHOWCASE ///////////////////*/
#showcase {
  background: url("../../img/7966.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  align-self: center; }

.title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: auto; }

.showcase-img {
  box-shadow: 0px 5px 15px 2px #2F2F2F;
  background: url("../../img/test2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 40%;
  height: auto;
  padding: 20px;
  transition: 2s ease-in-out;
  background-attachment: fixed;
  }

.button {
  padding-top: 50px; }

.button button {
  background: #028c9b;
  color: #ddd;
  border: none;
  border-radius: 20px;
  height: 35px;
  width: 160px;
  font-weight: bold;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  /*box-shadow: 0px 0px 1px 1px #109985; */
  cursor: pointer;
  color: #2F2F2F; }

button:hover {
  background: #1dabba; 
}

.button button a {
  text-decoration: none;
  color: inherit; }

img {
  width: 100%;
  height: auto;}


/*///////////// ABOUT ///////////////////*/
.about-me {
  /*background: #1dabba;*/
  background: url("../../img/test2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  padding: 30px;
  width: auto;
  height: 100vh; }

.about-me h1 {
  color: #2F2F2F; }

.about-image {
  width: 80%;
  height: auto;
  align-self: center;
  /*transition: 0.3s;*/
  border: 2px solid #028c9b;
  box-shadow: 0px 5px 15px 2px #2F2F2F;
  background-size: cover; }

.about-image:hover {
  transform: scale(1.02); }

.about {
  background: url("../../img/6726.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  align-self: center;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 5px 15px 2px #2F2F2F;
  border-radius: 5px; }

.about-text{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*///////////// PORTFOLIO ///////////////////*/
.portfolio {
  text-align: center;
  padding: 30px 30px 30px 0px;
  text-transform: uppercase;
  color: #2F2F2F;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background: #f4f4f4;*/
  /*border-top: 1px solid #000;*/
  /*border-bottom: 2px solid black;*/ }

#portfolio-title {
  color: #f4f4f4;
}

.porftolio-items {
/*  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;*/
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  margin: 1em;
  padding: 30px;
  border-radius: 5px;
  /*background: #1dabba;*/
  box-shadow: 0px 5px 15px 2px #2F2F2F;
  background: url("../../img/test2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio-item {
  flex-basis: calc(16.666% - 20px);
  border: 2px solid #109985;
  /*background: #1dabba;*/
  background: url("../../img/test.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*color: #ddd;*/
  text-align: center;
  padding: 5px;
  margin: 15px;
  box-shadow: 0px 2px 15px 2px #2F2F2F;
  transition: 0.4s; }
  
.portfolio-item img{
  width: 350px;
  height: 200px; }

.portfolio-desc {
  color: #000; }

.portfolio-item:hover {
  transform: scale(1.02); }

.portfolio-link {
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  color: #646464;
  opacity: 0.7; }

.portfolio-link:hover {
  color: #283d28; }

/*///////////// SKILLS ///////////////////*/
.knowledge {
  background: #1dabba;
  /*padding: 20px;*/
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  /*align-items: center;*/
  /*text-align: center;*/ }

.my-knowledge {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*padding: 50px;*/ }

.skills-title {
  color: #2F2F2F; }

.skills {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  padding: 30px 10px;
  /*align-self: center;*/
  /*margin-top: 20px;*/
  /*grid-gap: 1fr;*/ }

.my-skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px; }

.my-skills svg {
  width: 100px;
  height: auto; }

/*///////////// CONTACT ///////////////////*/
.contact {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.contact-title {
  /*background: #1dabba;*/
  /*background: #f4f4f4;*/
  background: url("../../img/6726.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: all 2s ease-in-out;
  border-radius: 10px;
  box-shadow: 0px 5px 15px 2px #2F2F2F; }

.contact-title h2{
  margin-bottom: 50px;
}

.form-control {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 18px;
  margin-bottom: 16px; }

.gform input {
  height: 10vh; }

::placeholder {
  color: #000;
  opacity: 0.5; }

.form-button {
  background-color: #028c9b;
  color: #000;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 200px;
  font-weight: bold;
  transition: 0.3s;
  transition: .5s;
  cursor: pointer; }

.form-button:hover {
  background: #239ca8;
 }

/*///////////// FOOTER ///////////////////*/
footer {
  text-align: center;
  /*margin: 30px;*/
  /*border-top: 2px solid black;*/
  font-weight: bold;
  font-family: sans-serif;
  background: #1dabba; 
  }
  footer p{
    font-size: 14px;
    padding-bottom: 20px;
  }

.social-icons {
  display: flex;
  justify-content: center; 
  padding: 0;
}

.ft-logos {
  margin: 20px 20px;
  width: 3%;
  height: auto;
  transition: 0.3s; 
}

.ft-logos:hover {
  transform: scale(1.1); 
}

@media (max-width: 1242px), (max-height: 422px)  {

  /****** SHOWCASE *****/
  .showcase-img {
    width: 70%;
    height: auto; 
  }


  /***** ABOUT *****/
  .about-me {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px 0px 0px 0px; 
  }
  .about-image {
    align-self: center; 
    margin-bottom: 20px;
  }
  .about-me h1{
    font-size: 22px;
  }
  .about-me h3{
    font-size: 18px;
  }
  .about-text {
    /*padding: 20px;*/
    align-self: center; 
    font-size: 14px;
    padding: 10px;
  }

  /***** PORTFOLIO *****/

  .portfolio-item{
    margin: 10px 5px 10px 5px;
  }

  .portfolio-item img{
  width: 200px;
  height: 150px; 
}
  .portfolio h2{
    font-size: 18px;
  }
  .portfolio-item h2{
      font-size: 16px;
  }
  .portfolio-item p{
      font-size: 14px;
  }
  .portfolio-item a{
    font-size: 14px;
  }

  /***** SKILLS *****/
  .knowledge {
    align-items: center; 
    font-size: 15px;
  }
  .knowledge h2{
    font-size: 18px;
  }
  .knowledge p{
    font-size: 14px;
    padding: 10px;
  }
  .skills h3{
    font-size: 12px;
  }
  .my-skills svg {
    width: 70px; 
  }
  .skill-icon {
    width: 70%; 
  }

  /***** CONTACT *****/
/*  .form-control {
    width: auto; 
  }*/
  .gform input{
    height: 20px;
    font-size: 10px;
    width: auto;
  }
  .ft-logos {
    width: 10%; 
  } 
}

@media (max-width: 800px), (max-height: 550px) {

/*  ***** SHOWCASE *****/
  .showcase-img {
    /*width: 100%;*/
    height: auto; 
  }

  .about-image{
    width: 100%;
    height: auto;
    margin: 0;
    transform: scale(1);
    box-shadow: none;
  }
  .about-me{
    padding: 0px; 
  }
}

@media (max-width: 668px){

  .showcase-img{
    width: auto;
  }

  /***** PORTFOLIO *****/
  .porftolio-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: auto; 
    box-shadow: none;
  }
  .portfolio-item img{
  width: 100%;
  height: auto; 
}

  .my-skills svg {
     width: 35px;
  }
  .my-skills{
    width: auto;
  }

  .contact{
    height: auto;
    padding-bottom: 20px;
  }

  .contact-title h2{
    font-size: 18px;
  }

  .form-control{
    width: auto;
  }

  .form-button {
    height: 35px;
    width: 110px;
    font-size: 12px;
  }

  ::placeholder {
  font-size: 14px; }

  .copyright {
    font-size: 10px;
  }
}

@media, (max-height: 550px) {

  /****** SHOWCASE *****/
  .showcase-img {
    width: 30%;
    height: auto; 
  }
}