body {
    font-family: "Roboto", sans-serif;
    background: #27556C;
    margin: 0;
}

.menu{
    transition: .5s;
    width: 30px;
    margin: 0.5em;
}

.sidenav {
    margin: 2em; 
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-transform: uppercase;
}

.sidenav a {
    padding: 10px 10px 10px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #5A7497;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #A2B3CA;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.container{
    display: grid;
    grid-area: 2fr 1fr;
    grid-gap: 3em;
    margin: 10px 5px;   
    /*padding: 5px;*/
}
.container div{
    background: #6E92A1;
}
#brand{
    padding: 20px;
    color: #5A7497;
    box-shadow: 0px 0px 15px 2px white;
    display: flex;
    justify-content: center;
    transition: 1s;
    text-transform: uppercase; 
    border-radius: 5px;
}

#home{
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;

/*    flex-wrap: wrap;   
    flex-direction: column;*/
    box-shadow: 0px 0px 15px 2px white;
    padding: 20px;
    transition: 1s;
}

#about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    box-shadow: 0px 0px 15px 2px white;
}

#projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0px 0px 15px 2px white;
}

#contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 0px 15px 2px white;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

@media screen and (max-height: 450px, max-width: 414px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .container div{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em;
  }

}